.contenedorLola{
    /*border: 10px solid #00000031;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 180px 1fr;
    grid-template-areas: 
    "header header header"
    ". list .";
}


.header{
    grid-area:header;
}
.skeleton{
    border: 3px solid #03030327;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
}

.list{
    /*border: 3px solid #552680;*/
    margin-top: 10px;
    grid-area:list;   
    height: 50vh;
    width: 100%;
    min-width: 150px;
    background: #fff;
    overflow-y: scroll
}
.item{
    border: 1px solid #0303033b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 5px;
}

.list2{
    width: 300px;
    flex-wrap: wrap;
}